# Tuple

In [20]:
# Tuples are similar to lists in almost of their functionalities, 
# there is one significant difference in both the data structures lists are mutable and tuples are not. 
# Heterogenous
# Tuples are an ordered sequence of mixed data types.
# Tuples are written as comma-separated elements within parenthesis

tuple1 = (1,45,23,2334,5,662,434,54,45,6,77,66, 'Sam', 12.34)

In [21]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [22]:
type(tuple1)

tuple

In [23]:
len(tuple1)

14

In [24]:
# Indexing

tuple1[5]

662

In [25]:
type(tuple1[-1])

float

In [26]:
type(tuple1[-2])

str

In [27]:
tuple1 = (1,45,23,2334,5,662)
tuple2=(434,54,45,6,77,66)

In [28]:
tuple1+tuple2

(1, 45, 23, 2334, 5, 662, 434, 54, 45, 6, 77, 66)

In [29]:
tuple1[:2]*4

(1, 45, 1, 45, 1, 45, 1, 45)

In [30]:
tuple1[5] = 0

TypeError: 'tuple' object does not support item assignment

In [142]:
# A tuple can be defined without using parenthesis 

sample_tuple = 1,2,3,4
print(sample_tuple)


sample_tuple = 1,  
print(sample_tuple)

(1, 2, 3, 4)
(1,)

In [ ]:
sample_tuple1 = 1   # This is not a tuple
sample_tuple2 = (1) # This is not a tuple

In [ ]:
# tuple is immutable

In [143]:
tuple1 = (1,45,23,2334,5,0)

In [144]:
tuple1[5]

0

In [145]:
tuple1+ "5"

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
# concatenate similar types only!

In [146]:
l = []
l+"5"

TypeError: can only concatenate list (not "str") to list

In [147]:
# Slicing 

t = ("Seattle", 84, "Python", 5, 2, 1)

t[0:3]

('Seattle', 84, 'Python')

In [ ]:
# Slicing last 2 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[-2:]

In [148]:
# Cancatenating tuples

tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

In [ ]:
t = (2, 4, 3, 5, 7)
sum(t)

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

In [149]:
# Immutability of tuples

t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [150]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

In [151]:
# Sorting a tuple

t = (2,3,6,4,8,5, -1)
sorted(t)

[-1, 2, 3, 4, 5, 6, 8]

In [152]:
t = (2,3,6,4,8,5, -1)
x = sorted(t)

print(tuple(x))
print(t)

(-1, 2, 3, 4, 5, 6, 8)
(2, 3, 6, 4, 8, 5, -1)

In [154]:
# Packing and Unpacking In Tuples

t = (1,2,3,4)     # Packing 
t

(1, 2, 3, 4)

In [155]:
(a,b,c,d) = t     # Unpacking 
print (c)
print (a)

3
1

In [156]:
(a,b,c) = t     # Unpacking 
print (c)
print (a)

ValueError: too many values to unpack (expected 3)

In [ ]:
# dir() function only gives the list of methods available
# help() function gives a brief description of each of the methods available with tuples

In [ ]:
help(tuple1)

In [ ]:
# dir() - to view the attributes or methods of an object

dir(tuple1)

In [157]:
# Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). 

inp = ('Monty Python', 'British', 1969)
out = inp + ("Python",)
out

('Monty Python', 'British', 1969, 'Python')

In [194]:
zoo = ('python', 'elephant', 'penguin')
print('Number of animals in the zoo is', len(zoo))

new_zoo = 'monkey', 'camel', zoo    # parentheses not required but are a good idea
print('Number of cages in the new zoo is', len(new_zoo))
print('All animals in new zoo are', new_zoo)
print('Animals brought from old zoo are', new_zoo[2])
print('Last animal brought from old zoo is', new_zoo[2][2])
print('Number of animals in the new zoo is',
      len(new_zoo)-1+len(new_zoo[2]))

Number of animals in the zoo is 3
Number of cages in the new zoo is 3
All animals in new zoo are ('monkey', 'camel', ('python', 'elephant', 'penguin'))
Animals brought from old zoo are ('python', 'elephant', 'penguin')
Last animal brought from old zoo is penguin
Number of animals in the new zoo is 5

# List

In [92]:
# Lists are an ordered sequnce of mixed data types.
# Lists are written as comma-separated elements within square brackets
# Heterogenous

l1 = [1,45,23,2334,5,662,434,54,45,6,77,66, 'Sam', 12.34, False]

In [93]:
L = ["USA", 23, 6, "New York"]
L

['USA', 23, 6, 'New York']

In [94]:
# Nested List
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [95]:
# Indexing
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [96]:
L[-3]

'Biology'

In [97]:
L[-1][-1]

'Pearson'

In [98]:
L[-2][-1]

2004

In [99]:
len(l1)

15

In [100]:
type(l1)

list

In [101]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [102]:
l1[-3]

'Sam'

In [103]:
l1[:3]

[1, 45, 23]

In [104]:
for ele in l1:
    print(ele)

1
45
23
2334
5
662
434
54
45
6
77
66
Sam
12.34
False

In [105]:
print(l1)

[1, 45, 23, 2334, 5, 662, 434, 54, 45, 6, 77, 66, 'Sam', 12.34, False]

In [106]:
l1.append([100])

In [107]:
l1

[1, 45, 23, 2334, 5, 662, 434, 54, 45, 6, 77, 66, 'Sam', 12.34, False, [100]]

In [108]:
l1.append(200)
l1

[1,
 45,
 23,
 2334,
 5,
 662,
 434,
 54,
 45,
 6,
 77,
 66,
 'Sam',
 12.34,
 False,
 [100],
 200]

In [109]:
l1.extend([2,3,4])

In [110]:
l1

[1,
 45,
 23,
 2334,
 5,
 662,
 434,
 54,
 45,
 6,
 77,
 66,
 'Sam',
 12.34,
 False,
 [100],
 200,
 2,
 3,
 4]

In [ ]:
# append and extend

#extend - add individual elements as list elements
#append - appends the elements in [] as one element
#del -delete element at the index

In [111]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [112]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [113]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [115]:
del L[0:2]

L

[]

In [116]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [118]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson"), "Chemistry"]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson'), 'Chemistry']

In [119]:
l2 =[1,2,3,4]

In [120]:
sum(l2)

10

In [121]:
min(l2)

1

In [122]:
max(l2)

4

In [123]:
l2.reverse()

In [124]:
l2

[4, 3, 2, 1]

In [ ]:
# reverse() - mutable - changed in original list - in-place change

In [ ]:
sum(l1)

In [ ]:
l1

In [ ]:
#Membership in Lists

L1 = [1,2,3,4]
print(1 in L1)  # True
print (8 not in L1)  # True

In [ ]:
100 in l1

In [ ]:
2 in l2

In [125]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [126]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [127]:
l1= [1,2,3,4]
t1=(1,2,3,4)

In [128]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [129]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

In [130]:
# Difference between sort and sorted

A = ["Orange", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [31]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [32]:
# sort() - sorts in-place - orginal list is sorted
# sorted() - does not mofify the orginal list, function retuens sorted list

In [33]:
# Shallow copying

In [131]:
# A and B refer to the same list object in the memory, and the changes made to list A will be reflected in list B as well. 

A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [132]:
id(A)

1715303574144

In [133]:
id(B)

1715303574144

In [35]:
A

['Apple', 'Strawberry', 'Mango']

In [36]:
B

['Apple', 'Strawberry', 'Mango']

In [136]:
# A[:] - creating a new object,
# New object is assigned to B
# Any changes in list A wouldn’t affect list B anymore.

A = ["Orange", "Strawberry", "Mango"]
B = A[:]    
# Note 'A[:]' is used to call all the values stored in A
# Now B has all the values of A but isn't a Shallow copy of A
# Shallow copy is basically assigning multiple labels to a single reference point or memory location

A[0] = "Apple"

In [137]:
id(A)

1715304343232

In [138]:
id(B)

1715304402176

In [38]:
A

['Apple', 'Strawberry', 'Mango']

In [39]:
B

['Orange', 'Strawberry', 'Mango']

In [40]:
# extend(): Extend a list by adding elements at the end of the list.
# append(): Append an object to the end of a list.

In [41]:
# the append() method takes an object passed as a single element and adds it to the end of the list
# the extend() takes an object passed as an iterable and adds every element in the iterable at the end of the list.

In [42]:
# pop(index): Remove and return the item at index (default last)
# remove(value): Remove the first occurrence of a value in the list

In [43]:
# sort(): sorts the elements of a list in place
# sorted(): assign the sorted elements to a new list. And the original list is left as is.

In [44]:
# Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

# Sample Input: ['SAS', 'R', 'PYTHON', 'SPSS']
# Sample Output: ['SAS', 'R', 'PYTHON', 'SPARK']

In [45]:
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list.pop(-1)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [46]:
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [47]:
# Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. 
inp  = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
str = inp[0] + ' & ' + inp[1]
print(str)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [139]:
# Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code.
# In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

input_str = 'Kumar_Ravi_003'
first_name = input_str.split("_")[1]
second_name = input_str.split("_")[0]
customer_code = input_str.split("_")[2]

print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [141]:
input_str = 'Kumar_Ravi_003'
l = input_str.split("_")
' '.join(l)

'Kumar Ravi 003'

In [49]:
# lists and tuples are ordered sequences. 
# Sets are unordered sequences.This makes sets unfit for indexing or slicing

In [193]:
# This is my shopping list
shoplist = ['apple', 'mango', 'carrot', 'banana']

print('I have', len(shoplist), 'items to purchase.')

print('These items are:', end=' ')
for item in shoplist:
    print(item, end=' ')

print('\nI also have to buy rice.')
shoplist.append('rice')
print('My shopping list is now', shoplist)

print('I will sort my list now')
shoplist.sort()
print('Sorted shopping list is', shoplist)

print('The first item I will buy is', shoplist[0])
olditem = shoplist[0]
del shoplist[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist)

I have 4 items to purchase.
These items are: apple mango carrot banana
I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice']
I will sort my list now
Sorted shopping list is ['apple', 'banana', 'carrot', 'mango', 'rice']
The first item I will buy is apple
I bought the apple
My shopping list is now ['banana', 'carrot', 'mango', 'rice']

# Set

In [50]:
# Sets are a type of collection like lists and tuples, storing mixed data.
# Sets are enclosed within curly brackets and elements are written as comma-separated.
# Sets are unordered
# Sets do not allow duplicates

In [158]:
# Set and dictionaty

var = {}

# type is dict

In [159]:
s1 ={}

In [160]:
len(s1)

0

In [161]:
type(s1)

dict

In [163]:
s = set()

In [164]:
type(s)

set

In [168]:
a = int(5)
type(a)
a

5

In [169]:
s1 = {1,2,3,1,2,3,3,2,1,4}

In [170]:
# distinct elements
s1

{1, 2, 3, 4}

In [57]:
type(s1)

set

In [171]:
s1.add(100)
s1.add("Australia")

In [172]:
s1

{1, 100, 2, 3, 4, 'Australia'}

In [173]:
s1.remove(100)

In [174]:
s1

{1, 2, 3, 4, 'Australia'}

In [62]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

# Union represents the total unique elements in both sets.
print(A | B) # Union
print (A.union(B))

# Intersection represents the elements common to both sets.
print(A & B) # Intersection
print(A.intersection(B))

# Difference(A-B) represents the elements present in A and not in B.
print(A - B) # Difference
print(A.difference(B))  # only A elements

# Symmetric difference represents the union of the elements A and B minus the intersection of A and B.
print(A ^ B) # Symmetric Difference

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{2, 4}
{0, 8, 6}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}

In [63]:
s1 = {1,2,3,4}
s2 = {1,4,5,6,4,6,4,23}

In [64]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 23}

In [65]:
s1.intersection(s2)

{1, 4}

In [66]:
s1 - s2

{2, 3}

In [67]:
s1.difference(s2)

{2, 3}

In [68]:
s1.remove(1)

In [69]:
s1

{2, 3, 4}

In [70]:
# Let’s say you have two lists A and B. 
# Identify the elements which are common in the two lists A and B and return them in a sorted manner. 

A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]

set_1 = set(A)
set_2 = set(B)

intersection_set = set_1 & set_2
answer = list(intersection_set)

answer.sort()
print(answer)

[1, 3, 5, 7]

# Dictionary

In [71]:
# A dictionary stores element as keys and values pairs.
# The key is like an index, it's is always unique and immutable.
# The values are the objects that contain information.
# Values are accessed using their keys.
# Each key is followed by a value separated by a colon.
# The values can be immutable, mutable, and duplicates.
# Each key and value pair is separated by a comma enclosed inside curly brackets.

In [177]:
# Creating a dictionary
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys
d["USA"]

'USD'

In [178]:
# Replace the value for a key in a dictionary

d["USA"] = "$"
d

{'India': 'INR', 'USA': '$', 'France': 'Euros'}

In [179]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"
d

{'India': 'INR', 'USA': '$', 'France': 'Euros', 'Japan': 'Yen'}

In [180]:
# Deleting a key value pair

del d["France"]
d

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [181]:
# Sorting a dictionary
# sort based on key
sorted(d)

['India', 'Japan', 'USA']

In [182]:
sorted(d.values())

['$', 'INR', 'Yen']

In [184]:
d.values().sort()

AttributeError: 'dict_values' object has no attribute 'sort'

In [77]:
# values() Method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [78]:
# Keys() Method
d.keys()

dict_keys(['India', 'USA', 'France'])

In [79]:
# Update() Method

d.update({'USA':'$'})
d

{'India': 'INR', 'USA': '$', 'France': 'Euros'}

In [185]:
d.update({'ABC':'$'})
d

{'India': 'INR', 'USA': '$', 'Japan': 'Yen', 'ABC': '$'}

In [80]:
d = {1: "A" , 2:"B"}

In [81]:
len(d)

2

In [82]:
d.keys()

dict_keys([1, 2])

In [83]:
d.values()

dict_values(['A', 'B'])

In [84]:
type(d.values())

dict_values

In [85]:
type(d.keys())

dict_keys

In [86]:
# returns key, value as tuples in a list
d.items()

dict_items([(1, 'A'), (2, 'B')])

In [87]:
tup = (1,2,3)

In [88]:
l = list(tup)

In [89]:
l

[1, 2, 3]

In [186]:
letters = "qwertyuioppasfdhdjfflhs"

In [188]:

list = list(letters)
tup = tuple(letters)
set = set(letters)

In [189]:
print(str)
print("list " , list)
print("tuple" , tup)
print("set" , set)

Pythons syntax is easy to learn & Pythons syntax is very clear
list  ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'p', 'a', 's', 'f', 'd', 'h', 'd', 'j', 'f', 'f', 'l', 'h', 's']
tuple ('q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'p', 'a', 's', 'f', 'd', 'h', 'd', 'j', 'f', 'f', 'l', 'h', 's')
set {'w', 't', 'u', 'a', 'i', 'r', 'l', 'f', 'h', 'q', 'o', 'p', 'j', 's', 'd', 'e', 'y'}

In [ ]:
# Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).

In [ ]:
# Input : Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [ ]:
input_dict =  { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [ ]:
input_dict[104][2]

In [ ]:
#  empty dictionary.
d = {}

In [ ]:
# methods to create a dictionary.

d = {'a':1, 'b':2}
d = dict(a=1, b=2)

In [ ]:
dict_1 = {"Python": 40, "R": 45}
del dict_1['R']
dict_1

In [190]:
# get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.

input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict.get('Label', 'NA')

'NA'

In [191]:
input_dict.get('Name', 'NA')

'Monty'

In [192]:
input_dict.get('Aba', 'NA')

'NA'

In [ ]:
# Create a SORTED list of all values from the dictionary

d = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

l =  list(input_dict.values())
l.sort()
l

In [195]:

ab = {
    'Swaroop': 'swaroop@swaroopch.com',
    'Larry': 'larry@wall.org',
    'Matsumoto': 'matz@ruby-lang.org',
    'Spammer': 'spammer@hotmail.com'
}

print("Swaroop's address is", ab['Swaroop'])

# Deleting a key-value pair
del ab['Spammer']

print('\nThere are {} contacts in the address-book\n'.format(len(ab)))

for name, address in ab.items():
    print('Contact {} at {}'.format(name, address))

# Adding a key-value pair
ab['Guido'] = 'guido@python.org'

if 'Guido' in ab:
    print("\nGuido's address is", ab['Guido'])

Swaroop's address is swaroop@swaroopch.com

There are 3 contacts in the address-book

Contact Swaroop at swaroop@swaroopch.com
Contact Larry at larry@wall.org
Contact Matsumoto at matz@ruby-lang.org

Guido's address is guido@python.org

In [196]:
# slicing 

shoplist = ['apple', 'mango', 'carrot', 'banana']
name = 'swaroop'

# Indexing or 'Subscription' operation #
print('Item 0 is', shoplist[0])
print('Item 1 is', shoplist[1])
print('Item 2 is', shoplist[2])
print('Item 3 is', shoplist[3])
print('Item -1 is', shoplist[-1])
print('Item -2 is', shoplist[-2])
print('Character 0 is', name[0])

# Slicing on a list #
print('Item 1 to 3 is', shoplist[1:3])
print('Item 2 to end is', shoplist[2:])
print('Item 1 to -1 is', shoplist[1:-1])
print('Item start to end is', shoplist[:])

# Slicing on a string #
print('characters 1 to 3 is', name[1:3])
print('characters 2 to end is', name[2:])
print('characters 1 to -1 is', name[1:-1])
print('characters start to end is', name[:])

Item 0 is apple
Item 1 is mango
Item 2 is carrot
Item 3 is banana
Item -1 is banana
Item -2 is carrot
Character 0 is s
Item 1 to 3 is ['mango', 'carrot']
Item 2 to end is ['carrot', 'banana']
Item 1 to -1 is ['mango', 'carrot']
Item start to end is ['apple', 'mango', 'carrot', 'banana']
characters 1 to 3 is wa
characters 2 to end is aroop
characters 1 to -1 is waroo
characters start to end is swaroop

In [197]:
shoplist[::1]

['apple', 'mango', 'carrot', 'banana']

In [198]:
shoplist[::2]

['apple', 'carrot']

In [199]:
shoplist[::3]

['apple', 'banana']

In [200]:
shoplist[::-1]

['banana', 'carrot', 'mango', 'apple']

In [202]:
# refernces

# When you create an object and assign it to a variable, the variable only refers to the object and does not represent the object itself! 
# That is, the variable name points to that part of your computer's memory where the object is stored. 
# This is called binding the name to the object.

In [201]:
print('Simple Assignment')
shoplist = ['apple', 'mango', 'carrot', 'banana']
# mylist is just another name pointing to the same object!
mylist = shoplist

# I purchased the first item, so I remove it from the list
del shoplist[0]

print('shoplist is', shoplist)
print('mylist is', mylist)
# Notice that both shoplist and mylist both print
# the same list without the 'apple' confirming that
# they point to the same object

print('Copy by making a full slice')
# Make a copy by doing a full slice
mylist = shoplist[:]
# Remove first item
del mylist[0]

print('shoplist is', shoplist)
print('mylist is', mylist)
# Notice that now the two lists are different

Simple Assignment
shoplist is ['mango', 'carrot', 'banana']
mylist is ['mango', 'carrot', 'banana']
Copy by making a full slice
shoplist is ['mango', 'carrot', 'banana']
mylist is ['carrot', 'banana']

# Practice

In [205]:
# Print a random integer between 100 and 135

from random import seed
from random import randint

print(randint(100,135))

103

In [213]:
# Create a list consisting of first 10 even numbers.
l=[]
for i in range(2,22,2):
    l.append(i)
print(l)
print(len(l))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
10

In [215]:
# Create a list in the following manner: [birthyear, firstname, birthdate, lastname]
l=[2006,'ABC',19,'XYZ']

In [216]:
#  Create a nested list which consist of 2 students and their scores in mathematics and english:

# Alex scores 97 and 95 in mathematics and english respectively,
#Cody scores 89 and 92 in mathematics and english respectively.

# The list should be such that it first stores the name of students followed by the subjects and then their scores in nested lists.

l=[['Alex','Cody'],['Mathematics,English'],[97,95],[89,92]]
print(l)

[['Alex', 'Cody'], ['Mathematics,English'], [97, 95], [89, 92]]

In [217]:
# Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.

list3=[1,2,'r',7,'k',6,'o','h','d',5,9]
char='k'

# print the result:
print(char in list3)

True

In [218]:
# In the tuple given below, print the 3rd element.

tuple1=(1,'hello','world','567')

# Print the 3rd element:
print(tuple1[2])

world

In [219]:
# Given below is a tuple. Sort the tuple and print the result.

tuple2=(1,25,67,100,3,54)

# Sort the tuple:
tuple3=sorted(tuple2)

# Print the result:
print(tuple3)

[1, 3, 25, 54, 67, 100]

In [1]:
# Given below is a list, convert into a set and print the output also print the length of the set.

list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]

# Convert the list into set:
set1=set(list4)

# Print the result:
print(set1)

# Print the length of the set:
print(len(set1))

{1, 2, 3, 4, 5, 6, 7}
7

In [2]:
# Given below are two sets, perform the operations given below:
# Print their union
# Print their intersection
# Print their difference
# Print their symmetric difference

a={1,2,3,5,6,7}
b={4,5,8,9,2,3}

# Print their union:
print(a.union(b))

# Print their intersection:
print(a.intersection(b))

# Print their difference:
print(a.difference(b))

# Print their symmetric difference:
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5}
{1, 6, 7}
{1, 4, 6, 7, 8, 9}

In [3]:
# Create a dictionary that stores the names and roll numbers of 5 students as given below:

# Sam, 21
# Cody, 12
# Addy, 3
# Zach, 45
# Amy, 6

In [8]:
dict1={'Sam':21, 'Cody':12, 'Addy':3, 'Zach':45, 'Amy':6}

# Print the result:
print(dict1)

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 45, 'Amy': 6}

In [9]:
# Update the roll number:
dict1['Zach']=47

In [12]:
# Update the roll number:
dict1.update({'Sam': 47})

In [13]:
# Print the new dictionary:
print(dict1)

{'Sam': 47, 'Cody': 12, 'Addy': 3, 'Zach': 47, 'Amy': 6}

In [14]:
# Sort the dictionary according to roll number.

# Sort and print the students roll number wise in ascending order:
sorted(dict1)

['Addy', 'Amy', 'Cody', 'Sam', 'Zach']