# Control structures

In [ ]:
# Control structures are used to control the order of execution of a program on the basis of logic and values
# function is a set of statements that takes input, does some computation, and returns an output

In [2]:
# Relational Operators - Compares the values on either side of the operator and returns and boolean value as True or False.

# Double equal to operator
# Not equal to operator
# Greater than operator
# Lesser than operator
# Greater than equal to operator
# Lesser than equal to operator

In [3]:
10 == 10

True

In [4]:
10 == 5

False

In [5]:
10 != 5

True

# If else

In [6]:
# The colon that indicates the start of block creation, 
# The indentation here defines the scope of the if- or else- statement, 
# Either code under the if-block is executed or under the else-block is executed, not both of them.

In [63]:
# the elif and else parts are optional.

In [7]:
x = 121

if x < 99:
    print(x, "is less than equal to 99")
elif x == 99:
    print(x, "is equal to 99")
else:
    print(x, " is more than 99")

121  is more than 99

In [8]:
# Logical Operators - combine multiple conditions

# AND
# OR
# NOR
# XOR

In [9]:
shopping_total = int(input("Enter your shopping total : "))

if shopping_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shopping_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shopping_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("No discount applicable!!!")

Enter your shopping total : 1000
You won a discount voucher of flat 1000 on next purchase

In [10]:
# Nested if

world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasn't played in", year)

Enter year to check New Zealand made it to Finals in 20th century : 10
World cup wasn't played in 10

In [11]:
# When there is more than one condition to check and you need to:

# Perform a different operation at each condition involving a single variable, you use an if-elif-else condition.
# Just return a boolean functionality, i.e., Yes or No, you use logical operators in a single if-else construct.
# Perform a different operation in each condition involving different variables, you use a nested if-else construct.

In [12]:
# Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.

input_str =input("Enter a string: ")

first_char = input_str[0]
vowels = ['a','e','i','u','A','E','I','O','U']

if first_char in vowels:
    print("YES")
else:
    print("NO")

Enter a string: jkkll
NO

In [62]:
#number = 23

from random import seed
from random import randint

number = randint(20,30)
print(number)

guess = int(input('Enter an integer in the range of 20 and 30: '))

if guess == number:
    print('Congratulations, you guessed it.')
elif guess < number:
    print('No, it is a little higher than that')
else:
    print('No, it is a little lower than that')

print('Done')

26
Enter an integer in the range of 20 and 30: 45
No, it is a little lower than that
Done

# Loops and iterations

In [13]:
# Iteration -  repeating the same operation multiple times

### While loop

In [14]:
# while loop keeps on executing a block of statements until the defined condition is true. 
# Once the condition fails the loop is exited.

In [15]:
#Pin checker 
pin = input("Enter your four digit pin: ")

#Pre-set pin is 1234
while pin != '1234':                           
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Enter your four digit pin: 565
Invalid input, please try again: 1214
Invalid input, please try again: 56554
Invalid input, please try again: 4554
Invalid input, please try again: 4554
Invalid input, please try again: 1256
Invalid input, please try again: 1234
Pin validation successful.

In [16]:
# add the functionality of the number of attempts -> use a counter variable
import sys    

pin = input("Enter your four digit pin: ")
attempt_count = 1

while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 5654
Invalid input, please try again: 4562
Invalid input, please try again: 2346

SystemExit: Too many invalid attempts

C:\Users\manas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3452: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [64]:
# A while statement can have an optional else clause.
# The else block is executed when the while loop condition becomes False 
# If there is an else clause for a while loop, it is always executed unless you break out of the loop with a break statement.

In [70]:
pin = input("Enter your four digit pin: ")
attempt_count = 1

while ((pin != '1234') & (attempt_count<=2)):
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
else:
    print('The while loop is over.')

Enter your four digit pin: 54
Invalid input, please try again: 45
Invalid input, please try again: 56
The while loop is over.

### For loop

Syntax -> 
for val in seq :
    statements

In [17]:
# seq, which represents a sequence; it can be a list, a tuple or a string(any iterable object)
# in operator -> membership operator that helps to check for the presence of an element in a sequence.

In [18]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [19]:
# iterate over a string
# default value of end = "\n"

string = "New York"
for ch in string:
    print(ch, end = ":")

N:e:w: :Y:o:r:k:

In [20]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [21]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [22]:
# By default, the iteration is over the keys.

d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [23]:
# iterate over values of a dictionary
for key in students_data.values():
    print(key)

['Sam', 24]
['Rob', 25]
['Jack', 26]
['Cornor', 24]
['Trump', 27]

In [24]:
# range(n): This creates a range object that has elements from 0 to n-1 [ both inclusive].
# range(m,n): This creates a range object that has elements from m to n-1 [both inclusive].
# range(m,n,t): This creates a range object that has elements from m to n-1 with a step count of t.

In [25]:
# Generate range of values.
range(1, 101)

range(1, 101)

In [26]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [27]:
# different variations in range

print(list(range(1, 100, 2) ))# gives numbers from 1 to 100 with a step count of 2
print(list(range(100, 0, -1))) # gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
# print prime numbers between 1 to 20

prime=[2]
for n in range(3,21):
    flag= True
    
    for i in range(2,int(n/2)):
        if n%i == 0:
            flag=False
            break
    if flag == True:
        prime.append(n)
prime

[2, 3, 4, 5, 7, 11, 13, 17, 19]

In [29]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]

In [30]:
L3

[2, 6, 15, 4, 8]

In [31]:
#  given a list of string elements, return a list which contains each element of the string in title case 

l = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
title=[]
for str in l:
    title.append(str.title())
print(title)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [71]:
# the else part is optional. When included, it is always executed once after the for loop is over unless a break statement is encountered.

for i in range(1, 5):
    print(i)
else:
    print('The for loop is over')

1
2
3
4
The for loop is over

In [73]:
# The break statement is used to break out of a loop statement i.e. 
# stop the execution of a looping statement, even if the loop condition has not become False or the sequence of items has not been completely iterated over.
# An important note is that if you break out of a for or while loop, any corresponding loop else block is not executed.

while True:
    s = input('Enter something : ')
    if s == 'quit':
        break
    print('Length of the string is', len(s))
print('Done')

Enter something : qui
Length of the string is 3
Enter something : quit
Done

In [74]:
# The continue statement is used to tell Python to skip the rest of the statements in the current loop block 
# and to continue to the next iteration of the loop.

while True:
    s = input('Enter something : ')
    if s == 'quit':
        break
    if len(s) < 3:
        print('Too small')
        continue
    print('Input is of sufficient length')

Enter something : 45
Too small
Enter something : 4
Too small
Enter something : 45
Too small
Enter something : 456
Input is of sufficient length
Enter something : 789
Input is of sufficient length
Enter something : 5566
Input is of sufficient length
Enter something : quit

# Functions

In [75]:
# Functions are reusable pieces of programs.

In [32]:
def factorial(n):
    
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

In [33]:
factorial(5)

120

In [34]:
 # default parameter

def func(name, age = 35): 
    print("name : ", name)
    print("age : ", age)

In [35]:
func("Jane", 25)

name :  Jane
age :  25

In [36]:
func("Jane")

name :  Jane
age :  35

In [37]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument

name :  Jane
age :  35
city :  Seattle

In [39]:
# variable-length argument

def var_func(*args):
    print(args)

In [40]:
var_func(1,3,"abc")

(1, 3, 'abc')

In [43]:
var_func(1)

(1,)

In [77]:
# Create a function squared(), which takes x and y as arguments and returns the x**y value. 

x = int(input("Enter x: "))
y = int(input("Enter y: "))

def squared(x,y):
    return (x**y)

print(squared(x,y))

Enter x: 10
Enter y: 2
100

In [78]:
# Local Variables 
# variables inside a function definition are not related in any way to other variables with the same names used outside the function
# variable names are local to the function - scope of the variable

In [49]:
# Function parameters are the variables used while defining the function
# values used while calling this function are the function arguments

In [50]:
# types of function parameters:

# Required parameters: These parameters are necessary for the function to execute.
# Default arguments: These parameters have a default value and will not throw any error if they are not passed while using the function. 
# Keyword parameters: These parameters are expected to be passed using a keyword. 
# Variable-length parameters: These enable the function to accept multiple arguments.

In [51]:
# Required parameters
# inbuilt max() function

max([10,2,3])

10

In [52]:
# Default arguments
# default argument - end ='\n'

print("Hello")
print("World")

Hello

In [54]:
# Keyword parameters

print("Hello", end=',')
print("World")

Hello,World

In [79]:
def func(a, b=5, c=10):
    print('a is', a, 'and b is', b, 'and c is', c)

func(3,7)
func(25, c=24)
func(c=50, a=100)

a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50

In [ ]:
# variable-length parameters

def var_func(*args):
    print(args)

In [55]:
var_func(1)

(1,)

In [81]:
def total(a=5, *numbers, **phonebook):
    print('a', a)

    #iterate through all the items in tuple
    for single_item in numbers:
        print('single_item', single_item)

    #iterate through all the items in dictionary    
    for key, value in phonebook.items():
        print(key,value)

total(10,1,2,3,Jack=1123,John=2231,Inge=1560)

a 10
single_item 1
single_item 2
single_item 3
Jack 1123
John 2231
Inge 1560

In [ ]:
# When we declare a starred parameter such as *param, 
# then all the positional arguments from that point till the end are collected as a tuple called 'param'.

# we declare a double-starred parameter such as **param, 
# then all the keyword arguments from that point till the end are collected as a dictionary called 'param'.

In [56]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [57]:
# func(3) = 7
# func(2,7)

In [58]:
# both x and y are required parameters. 
# function call would throw an error if only one argument is given.

def func(x, y):
    z = x * y + x + y
    return z

func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

# Looping techniques

In [2]:
# items() method
# Dictionary - key and corresponding value can be retrieved at the same time using the items() method.
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [3]:
# enumerate() 
# looping through a sequence
# the position index and corresponding value can be retrieved at the same time using the enumerate() function

for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [4]:
# zip()
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [5]:
# reversed() function
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function

for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [6]:
# sorted() function
# To loop over a sequence in sorted order, 
# use the sorted() function which returns a new sorted list while leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [7]:
# set()
# Using set() on a sequence eliminates duplicate elements. 
# The use of sorted() in combination with set() over a sequence is an idiomatic way to loop over unique elements of the sequence in sorted order.
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear