# Comprehensions

In [9]:
# Comprehensions are syntactic constructs that enable sequences to be built from other sequences in a clear and concise manner.

#### List comprehension

In [93]:
# [<the_expression> for <the_element> in <the_iterable>]

In [3]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

In [7]:
# Example on list comprehension
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list
l2 = [len(word) for word in l1]

print(l2)

[11, 5, 4, 6, 14]

In [8]:
# iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [10]:
# Example on dictionary comprehension
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list
d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

In [12]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : aloertoila

{'a', 'e', 'i', 'o'}

In [13]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for  i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

[2, 6, 15, 4, 8]

In [14]:
# using list comprehension
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
L3

[2, 6, 15, 4, 8]

In [15]:
# Creating a dictionary consisting of even natural numbers as key and square of each element as value 
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [16]:
# Using dictionary comprehension
updated_dict = {i : i**2 for i in range(2,21) if i % 2 ==0}
print(updated_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

The expression inside the brackets first starts with the operation/output that you desire, and then loops and conditionals occur in the same order of the regular code.

In [18]:
# List Comprehension

In [20]:
# Create a list comprehension containing the squares of the integers from 1 till n (including 1 and n), and print the list.  
n = int(input("Enter n: "))
l = [i**2 for i in range(1,n+1)]
l

Enter n: 5

[1, 4, 9, 16, 25]

In [23]:
# Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.

l = ['wood','old','apple','big','item','euphoria']

new_l = [ele for ele in l if ele[0] in 'aeiouAEIOU']
new_l

['old', 'apple', 'item', 'euphoria']

In [25]:
# create a dictionary where the keys are multiples of 3 among the first 100 natural numbers and each value is the cube of the key.

l =  list(range(1,101))
dict = {ele: ele**3 for ele in l if ele%3 == 0}
dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [26]:
[i+j for i in "abc" for j in "def"]

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [27]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

# Lambda functions

In [ ]:
# Lambda functions are another way of defining functions to execute small functionalities occurring while implementing a complex functionality. 
# These functions can take multiple parameters as input but can only execute a single expression; 
# in other words, they can only perform a single operation.

In [ ]:
# function_name  = lambda <space>  input_parameters :  output_parameters

In [28]:
# Write a lambda function to check a number is even or odd
f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [39]:
# Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.
#If x = 2 and y= 3, then the output should be 3.
x = int(input())
y = int(input())
maximum = lambda x,y : x if x>y else y
print("{0}, {1} , maximum = {2}".format(x,y,maximum(x,y)))

8
8
8, 8 , maximum = 8

In [40]:
minimum = (lambda x, y: x if x < y else y)
minimum(101*99, 102*98)

9996

# Map functions

In [42]:
# Map is a function that works like list comprehensions and for loops. 
# It is used when you need to map or implement functions on various elements at the same time.

In [50]:
# map(function,iterable object)
# The function here can be a lambda function or a function object.
# The iterable object can be a string, list, tuple, set or dictionary.

In [45]:
l = ['wood','old','apple','big','item','euphoria']
f = lambda x: x.upper()
f(l[0])

'WOOD'

In [46]:
caps = []

for word in l:
    caps.append(f(word))

In [47]:
caps

['WOOD', 'OLD', 'APPLE', 'BIG', 'ITEM', 'EUPHORIA']

In [49]:
list(map(lambda x: x.upper(), l))

['WOOD', 'OLD', 'APPLE', 'BIG', 'ITEM', 'EUPHORIA']

In [52]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x0000011779D70520>
[4, 16, 25]

In [51]:
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

# Filter

In [ ]:
# filter(function,iterable object)
# The function object passed to the filter function should always return a boolean value.
# The iterable object can be a string, list, tuple, set or dictionary.

In [53]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [55]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
l = list(filter(lambda x : x[1] > 18, students_data.values()))
l

[['Cornor', 19], ['Trump', 20]]

In [56]:
len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

# Reduce

In [68]:
# Reduce' is an operation that breaks down the entire process into pair-wise operations and 
# uses the result from each operation, with the successive element.

In [ ]:
# reduce(function,iterable object)

# The function object passed to the reduce function decides what expression is passed to the iterable object.
# The iterable object can be a string, list, tuple, set or dictionary.
# Also, reduce function produces a single output.

In [62]:
from functools import reduce

In [63]:
l = list(range(1,4))
l

[1, 2, 3]

In [64]:
f = lambda x, y: x*y

In [65]:
q  = reduce(lambda x, y: x*y, range(1,4))
print(q)

6

In [67]:
# Factorial

l = list(range(1,6))
q  = reduce(lambda x, y: x*y, l)
print(q)

120

In [69]:
from functools import reduce
list_1 = ['Paul','Ted']
reduce(lambda x,y: x + y,list_1)

'PaulTed'

# Practice

In [74]:
# Using the function Map, count the number of words that start with ‘S’ in input_list.

l = ['Santa Cruz','Santa fe','Mumbai','Delhi']
f = lambda x: x.startswith('S')
res = list(map(f, l))
for i,j in zip(l,res):
    print(i,j)

print(sum(res))

Santa Cruz True
Santa fe True
Mumbai False
Delhi False
0
2

In [77]:
l = ['Santa Cruz','Santa fe','Mumbai','Delhi']
f = lambda x: True if x[0]=="S" else False

count = len(list(filter(f,l)))
print(count)

2

In [80]:
# Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

str= [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
first_name = str[0]
last_name = str[1]
l = []
for i,j in zip(first_name,last_name ):
    name = i+" "+j
    l.append(name)
print(l)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [81]:
f = lambda x,y: x+' '+y
list(map(f,first_name,last_name))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [82]:
# Extract a list of numbers that are multiples of 5 from a list of integers named input_list.
inp = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

f = lambda x: x%5==0
list(filter(f,inp))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [83]:
# You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].
# Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

inp = ['hdjk', 'salsap', 'sherpa']

f = lambda x: x.startswith('s') and x.endswith('p')
list(filter(f,inp))

['salsap']

In [88]:
# Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
#If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

input_list = ['I','Love','Python']

from functools import reduce
f = lambda x,y :x+' '+y
reduce(f, input_list)

'I Love Python'

In [90]:
reduce(lambda x,y: x + " " +y, input_list)

'I Love Python'

In [92]:
# You are given a list of numbers such as input_list = [31, 63, 76, 89]. 
# Find and print the largest number in input_list using the reduce() function.

input_list = [31, 63, 76, 89]
f= lambda x,y: max(x,y)
reduce(f,input_list)

89